/** Modal */
#modal {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #3c3c3c;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
}
#modal * {
	/* font-family: tahoma, arial, helvetica, sans-serif; */
	font-size: 12px;
	text-align: left !important;
	text-shadow: none;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
	outline: none;
	text-transform: none;
	letter-spacing: inherit;
}
#modal #edit-form-label:empty,
#modal #modal_notice:empty {
	display: none;
}

#modal hr {
	margin-top: 4px;
	padding: 0px;
}
#modal h5 {
	color: #06c;
	font-weight: normal;
	/* text-transform: uppercase; */
	/* font-size: 9pt; */
	margin: 0;
	padding-bottom: 10px;
	/* border-bottom: 1px solid #06c; */
}
#modal #_overlay_ {
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: .9;
    filter: alpha(opacity=90);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #fff;
    display: none;
}
#modal #_content_ {
    background: #fff;
    width: auto;
    text-align: left;
    position: relative;
    margin: 5% auto 5% auto;
    display: inline-table;
    padding: 20px 30px;
    /* border: 1px solid #ccc; */
    /* font-family: verdana, helvetica, sans-serif; */
    border-radius: 8px;
}
#modal #_content_.shadow {
	box-shadow: none;
	border-color: #fff;
}
#modal #_content_.shadow:hover {
	border-color: #03A9F4;
	background: #03a9f408;

    box-shadow: 0px 4px 16px 40px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 40px  0px rgba(0, 0, 0, 0.2);
}


#modal #_content_.login {
    border-radius: 50%;
    padding: 50px;
    border-width: 10px;
    border-color: #00adef21;
    background: #00adef0f;
    width: 280px;
    height: 280px;
}
#modal #_content_.login.failed {
    border-width: 1px;
    border-color: #F44336;
    background: #ffc10721;
}
#modal #_content_.login form {
	float: none !important;
	margin: 10px auto;
	padding: 0px;
	width: 100%;
}
#modal #_content_.login form input,
#modal #_content_.login form button {
	width: 100%;
	margin-left: 0px;
	text-align: center !important;
}
#modal #_content_.login form input {
	background: transparent;
}
#modal #_content_.login form button {
	margin-top: 15px;
	font-size: 14px !important;
}


#modal #_content_ ._error_ {
	color: #c00;
	margin-bottom: 6px;
	font-size: 10px;
	/* font-family: verdana; */
}
#modal ul, #modal ol, #modal li {
    list-style-type: square;
    list-style-position: inside;
}
#modal ol li {
    list-style-type: decimal !important;
}
#modal .rounded {
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#modal .shadow {
    box-shadow: 0px 4px 16px 40px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 40px  0px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.modal_notice,
.modal_error {
	color: #390;
	/*background: #fff;*/
	padding: 4px;
	display: none;
	font-size: 10px;
}
.modal_error {
	color: #c00;
}

#modal .service_code {
	width: 500px;
	height: auto;
	background: #f4f4f4;
	border: 1px dotted #ccc;
	padding: 4px;
}

#modal button,
button.f7 {
	padding: 6px 12px 6px 12px !important;
	margin: 3px;
	border: 1px solid #06c;
	background: #06f;
	color: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #00adef;
	text-transform: uppercase;
	font-size: 10px !important;
	padding: 1px 10px 1px 10px;
	border: 1px solid transparent;
	font-family: arial !important;
	border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
#modal button:hover,
button.f7:hover {
	background: #09f;
	border-color: #03c;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);

	background: #06c;
	border-color: #06c;
}
#modal .bootstrap-select button:hover,
#modal .bootstrap-select button:active,
#modal .bootstrap-select button:focus {
	background: inherit !important;
}
#modal button:disabled,
button.f7:disabled {
	background: #9e9e9e4d !important;
	border-color: #6666668a !important;
	color: #000;
}

/* #modal .selectsearch .open,
#modal .selectsearch .open .dropdown-menu.inner {
	min-height: 170px;
} */

#modal input,
#modal textarea, 
#modal select,
#modal .editor,
#modal .expandable,
#modal .selectsearch button,

input.f7,
textarea.f7, 
select.f7 {
	padding: 4px 4px 4px 4px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #666;

	padding: 2px 6px;
	font-size: 10pt;
}

#modal input,
#modal textarea, 
#modal select,

input.f7,
textarea.f7, 
select.f7,

#modal .editor,
#modal .expandable,
#modal .selectsearch {
	border: 1px solid #2196f373;
	border-width: 0px 0px 1px 0px;
	padding: 0px 6px 4px 0px;
	margin-top: 6px;
	background: transparent;
}
#modal input:focus,
#modal textarea:focus, 
#modal select:focus,

input.f7:focus,
textarea.f7:focus, 
select.f7:focus,

#modal .editor:focus,
#modal .expandable:focus,
#modal .selectsearch:focus {
	border-color: #2196F3;
	outline: none;
	outline-wdth: 0px;
}

#modal .editor {
	max-height: 300px !important;
}
#modal .expandable {
	min-height: 30px;
	padding: 10px;
}
#modal .expandable div {
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #e4e4e4;
}
#modal .expandable div:last-child {
	margin-bottom: 0px;
}

/*
#modal input:hover, #modal select:hover, #modal textarea:hover, #modal .editor:hover, #modal .expandable:hover, #modal form .invalid {
	border-color: #09f;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}*/
#modal form .invalid,
form.f7 .invalid {
	border-color: #c00;
}

#modal #modal_title {
	font-size: 13px;
	color: #666;
	margin-bottom: 8px;
}

#modal .selectsearch li {
	background: #fff;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #e4e4e4;
}
#modal .selectsearch li:hover {
	border-bottom-color: #ccc;
}
#modal .selectsearch li a {
	background: #fff;
	color: inherit;
}
#modal .selectsearch li a:hover {
	background: #f9f9f9;
	color: inherit;
	color: #06c;
}
#modal .selectsearch input.form-control {
	padding: inherit;
	height: inherit;

}
#modal #cms_box label {
	font-weight: normal;
	margin-right: 10px;
}

/** CMS */
#f7cms {
	position: fixed;
	top: 0px;
	left: 0px;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	z-index: 99999;

	height: 0 !important;
}

#f7cms *, .cms_tool {
	font-family: tahoma, arial, helvetica, sans-serif !important;
	font-size: 12px !important;
}

#f7cms #cms-intro {
	margin: 4px 0px 20px 0px;
	text-align: left;
	color: #f00;
	font-weight: bold;
	font-size: 20px !important;
}

#f7cms .menugroup {
	float: left;
	padding: 0;
	margin: 0px 0px 0px 2px;
}
#f7cms .menugroup:first-child {
	margin-left: 5;
}
#f7cms .menugroup h3 {
	text-align: left;
	/* font-size: 12px; */
	color: #999;
	text-transform: uppercase;
	border-bottom: 1px solid #abc;
	margin: 0;
	padding: 0;
	font-size: 11px !important;
	font-family: arial !important;
}
#f7cms .menugroup li {
	list-style-type: none;
	text-align: left;
	border-bottom: 1px solid #e4e4e4;
	min-width: 120px;
	/*max-width: 120px;*/
	padding: 2px 20px 3px 0;
	margin: 0px 0 0 0;
}
#f7cms .menugroup:hover h3 {
	color: #000;
	border-color: #000;
}
#f7cms .menugroup li a {
	/* font-size: 12px; */
	color: #06c;
}
#f7cms .menugroup li a:hover {
	color: #f00;
	text-decoration: none;
}
#f7cms #dashboard, #f7cms #cmsicon {
	background: #fff;
	border: 4px solid #f00;
	border-width: 2px 0px 0px 0px;
	padding: 10px;
	color: #fff;
	float: left;
    position: fixed;
    bottom: 0px;
    left: 0px;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
       -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
    		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
}
#f7cms #cmsicon {
	font-family: arial !important;
	font-weight: 600;
	font-size: 16px !important;
	border: 1px solid #f00;
	background: rgba(255, 255, 255, 0.95);
	color: #f00;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin: 50px;
	text-align: center;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	text-decoration: none;
	padding: 20px 5px;

	display: inline-flex;
	padding: 0px;
	opacity: 0.9;
	border: 10px solid #fff;
	width: 100px;
	height: 100px;
	margin: 20px;
	background: transparent;
}
#cmsicon img {
	width: 100%;
}
#cmsicon:hover {
	/*background: rgba(255, 0, 0, 0.9) !important;
	color: #fff !important;
	border-color: #fff !important;*/

	opacity: 1 !important;
	border-color: #d3ebff !important;
}
#cmsicon.hidden {
	background: rgba(255, 155, 0, 0.9) !important;
	margin-bottom: -80px !important;
}

#f7cms #dashboard {
	bottom: -120% !important;
	background: rgba(255, 255, 255, 0.95);
}
#f7cms #dashboard.shown {
	bottom: 0px !important;
}

/** CMS Tools **/
.cms_tool {
	position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
	background: transparent;
	padding: 6px;
}
.cms_tool, .cms_tool * {
	transition: all 0.3s ease-in-out;
}

.cms_tool .list_tool, .cms_tool .edit_tool, .cms_tool .add_tool {
	float: right;
	margin-left: 0px;
	margin-left: -50px !important;
	opacity: 0;
}
.cms_tool i.toolbox_icon {
	padding: 12px;
	background: #2196F3;
	border-radius: 50%;
	color: #fff;
	opacity: 0.8;
	font-size: 16px;
	
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
       -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
    		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
}
.cms_tool:hover .edit_tool, .cms_tool:hover .list_tool, .cms_tool:hover .add_tool {
	display: inline-flex;
	margin-left: 2px !important;
	opacity: 0.5;
}
.cms_tool .edit_tool:hover, .cms_tool .list_tool:hover, .cms_tool .add_tool:hover {
	opacity: 1;
}
.cms_tool:hover i.toolbox_icon {
	opacity: 0.1;
	float: right;
}
/*.cms_tool:hover i.toolbox_icon {
	opacity: 1;
	background: #009688;
}*/

.cms_tool a {
	margin: 0px !important;
	display: flex;
	border: 1px solid #09f;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	color: #fff !important;
	text-transform: uppercase !important;
	text-decoration: none !important;
	font-family: arial !important;
	font-size: 14px !important;
	text-align: center !important;
	background: rgba(255, 255, 255, 0.95) !important;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
       -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
    		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
}
.cms_tool i {
	color: #09f;
	margin: auto;
}
/*.cms_tool:hover {
	border-color: #fff;
}*/
.cms_tool a:hover {
	text-decoration: none;
	color: #fff !important;
	border-color: #3F51B5;
	background: rgba(0, 153, 255, 0.95) !important;
}
.cms_tool a:hover i {
	color: #fff;
}

.cms_tool .edit_tool i {
	color: #FF9800;
}
.cms_tool a.edit_tool {
	border-color: #FF9800;
}
.cms_tool a.edit_tool:hover {
	background: #FFEB3B !important;
	border-color: #FF5722;
}
.cms_tool .edit_tool:hover i {
	color: #FF5722;
}

.cms_tool .add_tool i {
	color: #4CAF50;
}
.cms_tool a.add_tool {
	border-color: #4CAF50;
}
.cms_tool a.add_tool:hover {
	background: #9defa0 !important;
	border-color: #009688;
}
.cms_tool .add_tool:hover i {
	color: #009688;
}
/** END CMS Tools **/


#f7cms #dashboard label {
	float: left;
	color: #fff;
	font-weight: bold;
	margin-right: 50px;
}
#cms_form {
	margin: 0px;
	padding: 0px;
}
#cms_box {
	min-width: 300px;
	max-width: 650px;
	width: 650px;
	/* font-family: tahoma; */
	/* font-size: 9pt; */
}
#cms_box dl, #cms_box dl dd, form dl, form dl dd {
	padding: 0px;
	margin: 0px;
}
#cms_box th, #cms_box td {
	padding: 3px 0 3px 0;
	border-bottom: 1px solid #e4e4e4;
	text-align: left;
	background: transparent;
	font-size: inherit;
}
#cms_box tfoot th, #cms_box tfoot td {
	padding-top: 20px !important;
}



#cms_box.edit_table tr:hover td {
	background: transparent;
}
#cms_box.edit_table .bootstrap-select {
	border-color: transparent !important;
}
#cms_box.edit_table input[type=text]:focus {
	width: 100%;
	border-color: #FF9800;
	padding-left: 10px;
}
#cms_box.edit_table tr th {
	text-transform: uppercase;
	padding-left
}
#cms_box.edit_table tr td {
	padding-bottom: 20px;
	border-bottom-color: transparent;
}
.access_table {
	margin: 0px;
	width: 100%;
}
.access_table tr td {
	padding-bottom: 0px !important;
	border-bottom-color: #f4f4f4 !important;
	color: #000;
}
.access_table tr td:first-child {
	padding-left: 20px !important;
	width: 60%;
	border-left: 1px solid #ccc;
}
.access_table thead tr th {
	color: #666 !important;
	font-family: arial, sans-serif !important;
	font-size: 10px !important;
	text-align: center !important;
	padding-left: 10px !important;
}
.access_table tbody tr td {
	padding-left: 10px !important;
}
.access_table tbody tr td:first-child {
	text-align: left !important;
}
.access_table tbody tr:hover td {
	background: #03a9f430 !important;
	transition: none;
}
.access_table tr td span {
	color: #9E9E9E;
}

.access_table .dirty td {
	background: #ffc10754 !important;
}
.access_table .dirty td:first-child {
	background: transparent !important;
}
.access_table tr.group th a {
	background: #fff;
	display: inline-block;
	width: 100%;
	padding: 3px 6px;;
}
.access_table tr.group th a:hover {
	color: #FF5722 !important;
}


#cms_box a {
	color: #09c;
	text-decoration: none;
}
#cms_box a:hover {
	color: #03c;
}

#cms_box #cms_field_headers th, #cms_box #cms_field_headers td {
	border: 1px solid #abc;
	border-width: 1px 0px 1px 0px;
}
#cms_box #cms_field_headers th a, #cms_box #cms_field_headers td b {
	font-weight: normal;
	color: #abc;
	text-transform: uppercase;
	font-size: 10px !important;
}

#cms_box .pager {
	float: right;
	margin: 0px;
}
#cms_box .pager button {
	font-size: 15px !important;
	font-family: monospace !important;
	font-weight: normal;
	margin-right: 4px;
}
#cms_box .pager button:last-child {
	margin-right: 0px;
}

#cms_box tfoot td {
	border-width: 0px;
}

#cms_form #cms_box th {
	width: 120px;
	font-weight: normal;
	color: #999;
	vertical-align: middle;
}

#modal form input[type=text], #modal form input[type=password], #modal form select, #modal form textarea {
	width: 300px;
}
#modal form textarea {
	height: 80px;
}

#cms_box td.delete {
	width: 20px;
}
#cms_box tbody tr:hover td {
	background: #fff;
}
#cms_box td.delete a {
	color: #f00;
	padding: 5px;
	font-size: 9px !important;
}
#cms_box td.delete a:hover {
	background: #f00;
	color: #ff0;
}

#cms_form .editor {
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px;
	cursor: text;
	max-height: 500px;
	overflow-y: auto;
	text-align: left !important;
	background: #fff;
}
#cms_form .editor b,
#cms_form .editor strong {
	font-weight: bold;
}

#cms_form #editor_panel {
	border-bottom-width: 0px;
	padding-bottom: 20px;
	display: none;
}
/*
#cms_form .nicEdit-panelContain {
	background-color: #fff !important;
	border-width: 0px !important;
}

#cms_form .nicEdit-panel {
	background-color: #fff !important;
	border-width: 0px !important;
}

#cms_form .nicEdit-button {
	background-color: #fff !important;
	border-width: 0px !important;
}*/

/* #preview_content, #cms_form .editor {
	float: left;
	width: 600px;
    font-size: 13px;
    line-height: 1.8;
    color: #444;
}
#preview_content a, #cms_form .editor a {
	color: #06c;
}
#cms_closepreview {
	float: right;
	font-size: 8.5pt;
} */

#dashboard .scope_core:last-child {
	border-bottom-width: 0px;
}
#dashboard .scope_core a {
	color: #f00 !important;
}
#dashboard .scope_core a:hover {
	color: #f90 !important;
}

#modal #cmslogin {
	width: 130px;
}
#modal #cmslogin ul {
	margin: 0;
	padding: 0;
}
#modal #cmslogin ul li {
	padding: 0;
	margin: 0 0 6px 0;
	list-style-type: none;
}
#modal #cmslogin ul li:last-child {
	margin-bottom: 0;
}
#modal #cmslogin ul li input {
	width: 120px;
}

#modal .cropper {
	font-size: 8.5pt !important;
	color: #888 !important;
}
#modal .cropper input {
	padding: 0px 4px !important;
	color: inherit;
}
#modal .cropper input, #modal .cropper select {
	font-size: 8.5pt !important;
	padding: 2px;
	color: inherit;
}
#modal .cropper .rounded {
	padding: 3px 6px 3px 6px !important;
	border-width: 0 !important;
	display: inline-block;
}

#modal button.small,
button.f7.small {
	padding: 2px 4px !important;
}

#modal button.green,
button.f7.green {
	background: #00a550;
}
#modal button.green:hover,
button.f7.green:hover {
	background: #083;
	border-color: #083;
}
#modal button.yellow,
button.f7.yellow {
	background: #fa0;
}
#modal button.yellow:hover,
button.f7.yellow:hover {
	background: #f40;
	border-color: #f40;
}
#modal button.red,
button.f7.red {
	background: #f00;
}
#modal button.red:hover,
button.f7.red:hover {
	background: #c00;
	border-color: #c00;
}

#modal div.dropdown-menu.open {
	max-height: 140px !important;
	background: #e4e4e4;
}
#modal ul.dropdown-menu.inner {
	max-height: 100px !important;
	font-size: 12px !important;
}
#modal .filter-option {
	font-size: 12px !important;
}
/* #modal .caret {
	display: none;
} */
#modal ul.dropdown-menu.inner .selected.active {
	border-bottom-color: #ccc !important;
}
#modal ul.dropdown-menu.inner .selected.active a {
	color: #000 !important;
	background: #f4f4f4 !important;
}
#modal .pull-left span {
	color: red !important;
}

#modal .seotitle-link {
	font-size: 11px !important;
	display: inline-block;
	padding: 2px 6px 2px 6px;
	margin-top: 1px;
	background: #eee;
	color: #888;
}
#modal .seotitle-link input {
	font-size: 11px !important;
	padding: 2px 2px 2px 0px;
	color: inherit;
	background: inherit;
	border-width: 0px;
}
#modal .seotitle-link:hover input {
	color: #456;
}


input,
select,
textarea,
button,

input.f7,
select.f7,
textarea.f7,
button.f7 {
    outline: none !important;
    outline-wdth: 0 !important;
}

#refmodal-back {
	margin: 0 10px 0 10px;
}

.tooltip {
	background: #fff;
    position: absolute;
    padding: 4px;
    width: 200px;
    text-align: left;
    line-height: 14px;
    font-size: 7.5pt;
    display: none;
    z-index: 99999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 4px solid rgba(0,0,0,0.4);
    background-clip: padding-box;
    -moz-background-clip: padding;
   -webkit-background-clip: padding;
}
.tooltip.shown {
	display: block;
}

#modal input#search_kw,
#modal input#search_kw:hover {
	border-width: 0px 0px 1px 0px !important;
	border-width: 0px !important;
	border-radius: 0px;
	box-shadow: none;
}
#modal input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9E9E9E;
}
#modal input::-moz-placeholder { /* Firefox 19+ */
  color: #9E9E9E;
}
#modal input:-ms-input-placeholder { /* IE 10+ */
  color: #9E9E9E;
}
#modal input:-moz-placeholder { /* Firefox 18- */
  color: #9E9E9E;
}

#modal input:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #607D8B;
}
#modal input:hover::-moz-placeholder { /* Firefox 19+ */
  color: #607D8B;
}
#modal input:hover:-ms-input-placeholder { /* IE 10+ */
  color: #607D8B;
}
#modal input:hover:-moz-placeholder { /* Firefox 18- */
  color: #607D8B;
}

#modal #breadcrumb {
	float: left;
	text-transform: uppercase;
	padding: 3px 20px 3px 0px;
	margin: 0px 10px 0px 0px;
	/*border-bottom: 1px solid #ccc;*/
	font-size: 10px !important;
	color: #abc;
}
#modal #breadcrumb a {
	text-transform: uppercase;
	color: #09c;
	font-size: inherit;
	text-decoration: none;
}
#modal #breadcrumb a:hover {
	color: #03c;
}
#modal form#cms_form #breadcrumb {
	float: none;
	border-bottom: 1px solid #abc;
	color: #abc;
}
#modal #breadcrumb span {
	font-size: 14px !important;
	margin: 0px 6px;
}

#modal .cms_form#password_form dl dd {
	margin-bottom: 6px !important;
}

#modal #toolbox {
	display: inline-flex;
	float: right;
	padding: 0px;
	background: #fff;
	border-radius: 5px;
}
#modal #toolbox dt, #modal #toolbox dd {
}
#modal #toolbox dd {	
}
#modal #toolbox dt {
	margin-right: 20px;
	color: #FF9800;
}
#modal #toolbox dd a {
	color: #4CAF50;
	font-size: 10px;
	text-transform: uppercase;
    text-decoration: none;
    display: inline-block;    
	border-right: 1px solid #aabbccba;
	padding: 0px 6px;

}
#modal #toolbox :last-child a {
	border-right-width: 0px;
}
#modal #toolbox dd a:hover {
	color: #FF9800;
}